.c-input {
  $block-name: &;

  position: relative;

  display: block;

  font-size: 1.4rem;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
  }

  &__element {
    display: block;
    width: 100%;
    padding: 2rem 0;

    font: inherit;

    border-bottom: 0.1rem solid #101010;

    transform-origin: top left;

    &::placeholder {
      visibility: hidden;
      opacity: 0;
    }

    &:placeholder-shown ~ #{$block-name}__placeholder {
      top: 2rem;

      font-size: 100%;

      transform: translateY(0);
    }

    &:focus {
      border-color: #878787;
    }

    &:focus ~ #{$block-name}__placeholder {
      top: 0;

      font-size: 90%;

      transform: translateY(-0.8rem);
    }
  }

  &__placeholder {
    position: absolute;
    top: 0;
    left: 0;

    color: #B7B7B7;

    font-size: 90%;

    transform: translateY(-0.8rem);

    transition: transform 0.3s, font-size 0.3s;

    user-select: none;

    pointer-events: none;;
    text-transform: uppercase;
  }
}
